/**
*
* general set-up
*
*/

@font-face {
    font-family: 'arcade';
    src: url("../fonts/arcade.ttf");
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?77909139');
    src: url('../fonts/fontello.eot?77909139#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff?77909139') format('woff'),
    url('../fonts/fontello.ttf?77909139') format('truetype'),
    url('../fonts/fontello.svg?77909139#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    line-height: 27px;
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 1.45em;
    font-family: 'Cutive Mono', sans-serif;
    min-height: 100vh;
    /* Avoid the IE 10-11 `min-height` bug. */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

a:link,
a:visited {
    color: #000;
}

a:hover,
a:active {
    color: #399c3d;
}

button:focus,
input:focus {
    outline: 0;
}

.active {
    background: #000;
    color: #fff;
}

/**
*
* modifier
*
*/

.--no-margin {
    margin: 0;
}

.--text-left {
    text-align: left;
}

/**
*
* font
*
*/

h1 {
    font-family: 'arcade', sans-serif;
    letter-spacing: 0.1em;
    margin-top: 0.3em;
    font-size: 3.998em;
}

html {
    font-size: 1.125em;
}

body {
    background-color: white;
    font-family: 'Cutive Mono', sans-serif;
    font-weight: 200;
    line-height: 1.45;
    color: #333;
}

p {
    margin-bottom: 1.3em;
}

h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h2 {
    font-size: 2.827em;
}

h3 {
    font-size: 1.999em;
}

h4 {
    font-size: 1.414em;
}

small,
.font_small {
    font-size: 0.707em;
}

/**
*
* grid elements
*
*/

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex ;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/**
 *
 * styling content
 *
 */

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

input[type="number"] {
    border: none;
    border-bottom: 1px solid #000;
    width: 63px;
    text-align: center;
    font-size: 1.414em;
    font-family: 'Cutive Mono', sans-serif;
    font-size: 1.999em;
}


button {
    border: 1px solid #000;
    padding: 10px;
}


header {
    text-align: center;
    border-bottom: 1px solid #000;
}

#colorContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#currentColor {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 15px;
}

#colorContainer {
    margin-left: 20px;
    position: relative;
    top: -38px;
}

#colorPicker {
    width: 4em;
    cursor: crosshair;
    margin-top: 1.7em;
    height: 4em;
    border: 1px solid #000;
}

#colorPickerSlide {
    width: 4em;
    border-left: 2px solid #000;
    cursor: crosshair;
    margin-top: 1.7em;
    height: 4em;
    border: 1px solid #000;
    border-left: none;
}

#pickColor span {
    position: relative;
    top: 9px;
    font-size: 0.7em;
    display: inline-block;
    -webkit-transform: rotate(-13deg);
            transform: rotate(-13deg);
}

#grid-output {
    margin: 2em auto;
}

.form-control {
    text-align: center;
    width: 560px;
}

.form-control__subline {
    line-height: 51px;
}

.form-control__subline:first-of-type label {
    margin-right:20px;
}
footer {
    border-top: 1px solid #000;
    margin-top: auto;
    padding: 20px 0 15px;
    text-align: center;
}

/**
 *
 * styling tables
 *
 */

table {
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    height: 20px;
    width: 20px;
}


/* fontello font */


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?79368880#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook-rect:before {
    content: '\f301';
}

/* '' */

.icon-twitter-bird:before {
    content: '\f303';
}

/* '' */

.icon-github:before {
    content: '\f308';
}

/* '' */

.icon-linkedin-rect:before {
    content: '\f31b';
}

/* '' */


