@font-face {
    font-family: arcade;
    src: url("arcade.ttf");
}


* {
    box-sizing: border-box;
}

html {
    font-size:18px;
    line-height:27px;
}

body {
    font-size:1rem;
    line-height:1.5rem;
    font-family: 'Cutive Mono', sans-serif;
}

h1 {
    font-family: 'arcade', sans-serif;
    font-size: 78px;
    letter-spacing: 0.1em;
}
